.container {
  display: flex;
  padding-bottom: 15px;
}

.img {
  max-width: 200px;
}

.image {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.list {
  display: flex;
  gap: 10px;
}

.info {
  padding: 15px 0;
  border-top: 2px solid #989696;
  border-bottom: 2px solid #989696;
}

.text {
  font-size: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.link {
  width: 100px;
  color: #000;
  border: 1px solid #2c2b2b;
  background-color: #d4cdcd;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
}

.link:hover {
  background-color: #c2bcbc;
}

.active {
  color: red;
  text-decoration: underline;
  pointer-events: none;
}

.score {
  display: inline-block;
  text-align: center;
  padding: 10px 7px;
  border: 1px solid #200f39;
  border-radius: 50%;
  background-color: #353580;
  color: #fff;
  margin-left: 10px;
}

.percentages {
  font-size: 10px;
  margin-left: 1px;
}
