.container {
  margin-top: 15px;
}

.form {
  width: 400px;
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid #000;
  border-radius: 4px;
  height: 20px;
  background-color: #fff;
  padding: 5px;
}

.input {
  width: 100%;
  border: none;
  outline: none;
}

.btn {
  background-color: transparent;
}
