.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 10px;
}

.item {
  padding: 10px;
}

.details {
  font-size: 10px;
  text-align: center;
  padding: 5px;
}
